/**
 * _variables.scss
 * RestaurantPress CSS Variables
 */
$restaurantpress:   #ff0033;
$green:             #7ad03a;
$red:               #a00;
$orange:            #ffba00;
$blue:              #2ea2cc;

$primary:           #ff0033;                                       // Primary color for buttons (alt)
$primarytext:       desaturate( lighten( $primary, 52% ), 18% );   // Text on primary color bg

$secondary:         desaturate( lighten( $primary, 44% ), 91% );   // Secondary buttons
$secondarytext:     desaturate( darken( $secondary, 64% ), 91% );  // Text on secondary color bg

$highlight:         adjust-hue( $primary, 10deg );                 // Prices, chef flash
$highlightext:      desaturate( lighten( $highlight, 50% ), 18% ); // Text on highlight color bg

$darkgraybg:        #252525;                                       // Content BG - Tabs (active state)
$contentbg:         #fff;                                          // Content Background
$subtext:           #777;                                          // small, breadcrumbs etc

$info:              #00a0d2;                                       // Info notice color
$infobg:            desaturate( lighten( $info, 40% ), 18% );      // Info notice bg

$error:             #dc3232;                                       // Error notice color
$errorbg:           desaturate( lighten( $error, 40% ), 18% );     // Error notice bg

$success:           #46b450;                                       // Success notice color
$successbg:         desaturate( lighten( $success, 40% ), 18% );   // Success notice bg
